@using System.Security.Claims
@using GlobalWeather.Client.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using static GlobalWeather.Client.ServerHelper;

@inherits LayoutComponentBase

@inject AuthService AuthService
@inject IDialogService DialogService
@inject IWebAssemblyHostEnvironment Environment

<MudThemeProvider IsDarkMode="true"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="1">
        <div class="menu-container">
            <MudIconButton Icon="@Icons.Material.Outlined.Menu"
                           OnClick="@(() => _isOpen = !_isOpen)">
            </MudIconButton>
            <MudDrawer @bind-Open="_isOpen"
                       Variant="DrawerVariant.Temporary">
                <MudDrawerHeader>
                    <MudText Typo="Typo.h6">GloboClima</MudText>
                </MudDrawerHeader>
                <MudNavMenu>
                    <MudNavLink Href="country">Países</MudNavLink>
                    <MudNavLink Href="weather">Cidades</MudNavLink>
                </MudNavMenu>
            </MudDrawer>
        </div>
        <div class="navigation-container">
            <MudText Typo="Typo.h6" Class="ml-3">GloboClima</MudText>
            <MudTooltip Text="Países">
                <MudIconButton Icon="@Icons.Material.Outlined.Map"
                               Href="country">
                </MudIconButton>
            </MudTooltip>
            <MudTooltip Text="Cidades">
                <MudIconButton Icon="@Icons.Material.Outlined.Place"
                               Href="weather">
                </MudIconButton>
            </MudTooltip>
        </div>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub"
                       Href="https://github.com/ArturDias98/global-weather"
                       Target="_blank">
        </MudIconButton>
        <MudTooltip Text="Api">
            <MudIconButton Icon="@Icons.Material.Outlined.Api"
                           Href="@($"{GetServerUrl(Environment)}swagger")"
                           Target="_blank">
            </MudIconButton>
        </MudTooltip>
        <AuthorizeView>
            <Authorized>
                <MudTooltip Text="@(GetUserEmail(context.User))">
                    <MudIconButton Icon="@Icons.Material.Outlined.Person"
                                   Href="user">
                    </MudIconButton>
                </MudTooltip>
                <MudTooltip Text="Logout">
                    <MudIconButton Icon="@Icons.Material.Outlined.Logout"
                                   OnClick="LogOutAsync">
                    </MudIconButton>
                </MudTooltip>
            </Authorized>
            <NotAuthorized>
                <MudTooltip Text="Login">
                    <MudIconButton Icon="@Icons.Material.Outlined.Login"
                                   OnClick="LoginAsync">
                    </MudIconButton>
                </MudTooltip>
            </NotAuthorized>
        </AuthorizeView>
        <MudScrollToTop>
            <MudFab StartIcon="@Icons.Material.Filled.ArrowCircleUp"></MudFab>
        </MudScrollToTop>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code{

    private bool _isOpen;

    private static string GetUserEmail(ClaimsPrincipal claims)
    {
        var email = claims.FindFirst(i => i.Type == "email");

        return email!.Value;
    }

    private async Task LoginAsync()
    {
        var options = new DialogOptions()
        {
            CloseButton = true,
            MaxWidth = MaxWidth.ExtraSmall,
            FullWidth = true
        };

        await DialogService.ShowAsync<LoginDialog>(
            "Login",
            options);
    }

    private async Task LogOutAsync()
    {
        await AuthService.ClearAsync();
    }

}